# Data Types

## Numeric

In [1]:
import sys
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, "is Integer?", isinstance(val1,int)) # val1 is an instance of int class

10
<class 'int'>
28
10 is Integer? True

In [2]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float class

92.78
<class 'float'>
24
92.78  is float? True

In [3]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of complex class

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [4]:
sys.getsizeof(int())

24

In [5]:
sys.getsizeof(float())

24

In [6]:
sys.getsizeof(str())

49

In [7]:
sys.getsizeof(complex())

32

In [8]:
sys.getsizeof(list())

64

In [9]:
sys.getsizeof(tuple())

48

In [10]:
sys.getsizeof(dict())

240

In [11]:
sys.getsizeof(bool())

24

## Boolean

Boolean data type can have only two possible values true of false.

In [13]:
bool1 = True

In [14]:
bool2 = False

In [15]:
type(bool1)

bool

In [18]:
isinstance(bool1, bool)

True

In [19]:
bool(True)

True

In [20]:
bool(1)

True

In [21]:
bool(0)

False

In [22]:
bool(False)

False

In [24]:
bool(None)

False

## String

### String Creation

In [25]:
str1 = "HELLO PYTHON"

print(str1)

HELLO PYTHON

In [26]:
mystr = "HELLO PYTHON" # Define string using double quotes

print(mystr)

HELLO PYTHON

In [27]:
mystr = '''Hello 
            World'''    # Define sting using triple quotes

print(mystr)

Hello
            World

In [28]:
mystr = """Hello
            World"""   # Define string using triple quotes

print(mystr)

Hello
            World

In [29]:
mystr = ('Happy '
         'Monday '
         'Everyone ')

print(mystr)

Happy Monday Everyone

In [30]:
mystr2 = 'Woohoo '
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [31]:
len(mystr2) # Length of string

35

### String Indexing

In [32]:
str1

'HELLO PYTHON'

In [33]:
str1[0]

'H'

In [34]:
str1[len(str1)-1]

'N'

In [35]:
str1[-1]

'N'

In [36]:
str1[6]

'P'

In [37]:
str1[5]

' '

### String Slicing

In [38]:
str1[0:5] #String Slicing: Fetch all the characters from 0 to 5 excluding characher at loc 5

'HELLO'

In [39]:
str1[6:12]

'PYTHON'

In [40]:
str1[-4:] #Retrieve last four characters of the string

'THON'

In [41]:
str1[-6:] # Retrieve last six characters of the string

'PYTHON'

In [42]:
str1[:4] # Retrieve first four characters of the string

'HELL'

In [43]:
str1[:6]

'HELLO '

### Update and Delete String

In [44]:
str1

'HELLO PYTHON'

In [45]:
# Strings are immutable which means element of string cannot be changed once they have been assigned
str1[0:5] = 'HOLLA'

TypeError: 'str' object does not support item assignment

In [46]:
del str1 # Delete the string
print(str1)

NameError: name 'str1' is not defined

### String Concatenation

In [47]:
# String concatenation
s1 = 'Hello'
s2 = 'Rohit'
s3 = s1 + s2
print(s3)

HelloRohit

In [48]:
# String Concatenation
s1 = 'Hello'
s2 = 'Rohit'
s3 = s1 + " " + s2
print(s3)

Hello Rohit

### Iterating through a String

In [49]:
mystr1 = "Hello Everyone"

In [50]:
# Iteration

for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [51]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [52]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and returns it in a form of enumerate object

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

### String Membership

In [53]:
# string membership

mystr1 = 'Hello Everyone'

print ('Hello' in mystr1) # Check whether substring "Hello" is present in string "mystr1"
print ("Everyone" in mystr1)
print ('Hi' in mystr1)

True
True
False

### String Partitioning

In [54]:
""" 
The partition() method searches for a specified string and split the string into a tuple containing three elements.

  - The first element contains the first part before argument string.
  - The second element contains the argument string.
  - The third element contains  the part after the argument string.

"""

str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L)

('Natural language processing with Python ', 'and', ' R and Java')

In [55]:
"""
The rpartition() method searches for the last occurence of the specified string and splits the string into a tuple
containing three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Function

In [56]:
mystr2 = ' Hello Everyone '
mystr2

' Hello Everyone '

In [57]:
mystr2.strip() # Remove white spaces from beginning and end

'Hello Everyone'

In [58]:
mystr2.rstrip() # Remove white space from end

' Hello Everyone'

In [59]:
mystr2.lstrip() # Remove white space from beginning

'Hello Everyone '

In [60]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [61]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [62]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [63]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [64]:
mystr2 = " Hello Everyone "

In [65]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [66]:
mystr2.upper()

' HELLO EVERYONE '

In [67]:
mystr2.replace('He','Ho') # Replace substring "He" with "Ho"

' Hollo Everyone '

In [68]:
mystr2.replace(" ","") # Remove all white spaces using replace function

'HelloEveryone'

In [69]:
mystr5 = "one two Three one two two three"

In [70]:
mystr5.count('one') # Number of times substring "one" occurred in string

2

In [71]:
mystr5.count('two')

3

In [72]:
mystr5.count('Three')

1

In [73]:
mystr5.startswith('one') # Return boolean value True if string starts with "one"

True

In [74]:
mystr5.endswith('three')

True

In [75]:
mylst = mystr5.split() # Split string into substring
print(mylst)

['one', 'two', 'Three', 'one', 'two', 'two', 'three']

In [76]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [77]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [78]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(100) # Center align the string using a specific character as the fill character
print(str2)

                                          WELCOME EVERYONE

In [79]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(100,'*') # Center align the string using a specific character (*) as the fill character
print(str2)

******************************************WELCOME EVERYONE******************************************

In [80]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the fill character.
print(str2)

                                 WELCOME EVERYONE

In [81]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*') as the fill character.
print(str2)

******************************** WELCOME EVERYONE

In [82]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [83]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [84]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum()) # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [85]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum()) # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [86]:
mystr6 = 'abc12309'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum()) # returns True if a string contains only letters or numbers or both
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [87]:
mystr7 = 'ABCDEF'
print(mystr7.isupper()) # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [88]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [89]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [90]:
str6 = "one two three four one two two three five five six one ten eight ten nine eleven ten ten nine"
loc = str6.find("one") # first occurrence of word 'one' in string "str6"
print(loc)

0

In [91]:
loc = str6.index("one") # first occurance of word 
print(loc)

0

In [92]:
loc = str6.rindex("one") # last occurance of word
print(loc)

51

In [93]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [94]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [95]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### Using Escape Character

In [96]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (<ipython-input-96-fd795d8530df>, line 2)

In [97]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

## List

List is an ordered sequence of items
We can have different data types under a list E.g we can have integer, float and string items in a same list.

### List Creation

In [98]:
list1 = [] # empty list

In [99]:
print(type(list1))

<class 'list'>

In [100]:
list2 = [10, 20, 30] # list of integers

In [101]:
list3 = [10.0, 20.0, 30.0] # list of float

In [102]:
list4 = ['Rohit', 'Gore'] # list of strings

In [103]:
list5 = ['Rohi', 25 ,[50, 100],[150, 90]] # Nested Lists

In [104]:
list6 = [100, 'Rohi', 17.765] # List of mixed data types

In [105]:
list7 = ['Rohi', 25 ,[50, 100],[150, 90] , {'Awya' , 'Vickya'}]

In [106]:
len(list6) #Length of list

3

In [107]:
len(list7)

5

### List Indexing

In [108]:
list2[0] # Retrieve first element of list

10

In [109]:
list3[0]

10.0

In [110]:
list4[0][0] # Nested indexing - Access the first character of the first list element

'R'

In [111]:
list4[-1] # Last item of the list

'Gore'

In [112]:
list5[-1]

[150, 90]

### List Slicing

In [113]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [114]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item at loc 3.

['one', 'two', 'three']

In [115]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at loc 5.

['three', 'four', 'five']

In [116]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [117]:
mylist[:2] # Return first two items

['one', 'two']

In [118]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [119]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [120]:
mylist[-1] # Return last item of the list

'eight'

In [121]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add, remove and change items

In [122]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [123]:
mylist.append('nine') # add item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [124]:
mylist.insert(9,'ten') # insert item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [125]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [126]:
mylist.remove('ONE') # Remove item 'ONE'

In [127]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [128]:
mylist.pop() # Remove last item of the list

'ten'

In [129]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [130]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [131]:
del mylist[7]  # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [132]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [133]:
mylist.clear() # Empty list / delete all items in the list
mylist

[]

In [134]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

### Copy List

In [135]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [136]:
mylist1 = mylist  # Create a new reference "mylist1"

In [137]:
id(mylist), id(mylist1) # The address of both mylist & mylist1 will be the same as both are pointing to same list.

(2574887614472, 2574887614472)

In [138]:
mylist2 = mylist.copy() # create a copy of the list

In [139]:
id(mylist), id(mylist1), id(mylist2)

(2574887614472, 2574887614472, 2574887627976)

In [140]:
mylist[0] = 1

In [141]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [142]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [143]:
mylist2 ## Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join Lists

In [144]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [145]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [146]:
list1.extend(list2) # Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List membership

In [147]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [148]:
'one' in list1 # check if 'one' exist in the list

True

In [149]:
'ten' in list1 # check if 'ten' exist in the list

False

In [150]:
if 'three' in list1 :  # check if 'three' in the list
    print('three is present in the list')
else:
    print('three is not present in the list')

three is present in the list

In [151]:
if 'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

### Reverse and sort lists

In [152]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [153]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [154]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [155]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [156]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [157]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [158]:
mylist4

[88, 65, 33, 21, 11, 98]

### Loop through a list

In [159]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [160]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [161]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [162]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [163]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [164]:
list10.count('two') # Occurence of item 'two' in the list

2

In [165]:
list10.count('four') #Occurence of item 'four' in the list

1

### All / Any

The all() method returns:
    True - If all elements in a list are true
    False - If any element in a list is false
    
The any() function returns True if any element in the list is True. If not, any() returns False.

In [166]:
L1 = [1, 2, 3, 0]

In [167]:
all(L1) # will Return false as one value is false (value 0)

False

In [168]:
any(L1) # will Return True as we have items in the list with True value

True

In [169]:
L2 = [1,2,3,4,True,False]

In [170]:
all(L2) # Returns false as one value is false

False

In [171]:
any(L2) # Will Return True as we have items in the list with True value

True

In [172]:
L3 = [1,2,3,True]

In [173]:
all(L3) # Will return True as all items in the list are True

True

In [174]:
any(L3) # Will Return True as we have items in the list with True value

True

### List Comprehensions

List Comprehensions provide an elegant way to create new lists.

It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [175]:
mystring = 'WELCOME'
mylist = [i for i in mystring]  # Iterating through a string Using list comprehension
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [176]:
mylist1 = [ i for i in range(40) if i % 2 == 0]
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [177]:
mylist2 = [ i for i in range(40) if i % 2 == 1] # Display all odd numbers between 0 - 40 using List Comprehension
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [178]:
mylist3 = [ i**2 for i in range(10)] # calculate squre of all numbers between 0-10 using list comprehension
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [179]:
# Multiple whole list by 10
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
list1

[20, 30, 40, 50, 60, 70, 80]

In [180]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehension
mylist4 = [i for i in range(200) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0]
mylist4

[0, 36, 72, 108, 144, 180]

In [181]:
# Odd even test
l1 = [print("{} is Even Number".format(i)) if i%2==0 else print("{} is odd number".format(i)) for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [182]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [183]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

## Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

## Tuple Creation

In [184]:
tup1 = () # Empty tuple

In [185]:
tup2 = (10, 20, 30) # tuple of integer numbers

In [186]:
tup3 = (10.77, 30.66, 40.54) # tuple of float

In [187]:
tup4 = ('one', 'two', 'three') # tuple of strings

In [188]:
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples

In [189]:
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types

In [190]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [191]:
len(tup7)  # length of tuple

6

### Tuple Indexing

In [192]:
tup2[0]  # Retrieve first element of the tuple

10

In [193]:
tup4[0]

'one'

In [194]:
tup4[0][0]

'o'

In [195]:
tup4[-1]

'three'

In [196]:
tup5[-1] # Last item of the tuple

(150, 90)

### Tuple Slicing

In [197]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [198]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item at loc 3.

('one', 'two', 'three')

In [199]:
mytuple[2:5] # List all items from 2nd to 5th index location excluding the item at loc 5.

('three', 'four', 'five')

In [200]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [201]:
mytuple[:2] # Return first two items

('one', 'two')

In [202]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [203]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [204]:
mytuple[-1] # Return last item of the tuple

'eight'

In [205]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove and Change items

In [206]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [207]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [208]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [209]:
del mytuple # Deleting entire tuple object is possible

### Loop through a tuple

In [210]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [211]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [212]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [213]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [214]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [215]:
mytuple1.count('two') # Occurence of item 'two' in the tuple'

2

In [216]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

### Tuple Membership

In [217]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [218]:
'one' in mytuple # check if 'one' exist in the list

True

In [219]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [220]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [221]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

### Index Position

In [222]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [223]:
mytuple.index('one')

0

In [224]:
mytuple.index('seven')

6

### Sorting

In [225]:
mytuple2 = (43,67,99,12,6,90,67)

In [226]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [227]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

## Sets

1. Unordered & Unindexed collection of items
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it.

### Set Creation

In [228]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [229]:
len(myset) #Length of the set

5

In [230]:
my_set = {1,1,2,2,3,4,5,5}
my_set # Duplicate elements are not allowed.

{1, 2, 3, 4, 5}

In [231]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [232]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [233]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [234]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lists
myset3

TypeError: unhashable type: 'list'

In [235]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [236]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))
my_set1

{'four', 'one', 'three', 'two'}

### Loop through a set

In [237]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

three
four
eight
seven
one
two
five
six

In [238]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'four')
(2, 'eight')
(3, 'seven')
(4, 'one')
(5, 'two')
(6, 'five')
(7, 'six')

### Set membership

In [239]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [240]:
'one' in myset # Check if 'one' exist in the list

True

In [241]:
'ten' in myset # Check if 'ten' exist in the set

False

In [242]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [243]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

### Add & Remove Items

In [244]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [245]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [246]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using update() method
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [247]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [248]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [249]:
myset.clear() # Delete all items in a set
myset

set()

In [250]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

### Copy Set

In [251]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [252]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [253]:
id(myset) , id(myset1) # The address of both myset & myset1 will be the same as both are pointing to same set.

(2574886512904, 2574886512904)

In [254]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [255]:
id(my_set) # The address of my_set will be different from myset because my_set is pointing to the copy of the existing s

2574886511336

In [256]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [257]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [374]:
my_set # Copy of the set won't be impacted due to changes made on the original Set.

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

### Set Operation

#### Union

In [258]:
A = {1, 2, 3, 4}
B = {4, 5, 6, 7, 8}
C = {8, 9, 10}

In [259]:
A | B # union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [260]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [261]:
A.union(B, C) # Union of A, B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [262]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Intersection

In [263]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [264]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [265]:
A.intersection(B) #Intersection of A and B

{4, 5}

In [266]:
"""
Updates the set calling the intersection_update() method with the intersection of sets.
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

#### Difference

In [267]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [268]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [269]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [270]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [271]:
B.difference(A)

{6, 7, 8}

In [272]:
"""
Updates the set calling the difference_update() method with the difference of sets.
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

#### Symmetric Difference

In [273]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [274]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDING THE INTERSECTION").

{1, 2, 3, 6, 7, 8}

In [275]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [276]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetric difference of sets.
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

#### Subset, superset, Disjoint

In [277]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [278]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A.

True

In [279]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A.

True

In [280]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

True

In [281]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements.

False

#### Other Builtin Functions

In [282]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [283]:
sum(A)

45

In [284]:
max(A)

9

In [285]:
min(A)

1

In [286]:
len(A)

9

In [287]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [288]:
D = sorted(A, reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [289]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed.

### Create Dictionary

In [290]:
mydict = dict() # empty dictionary
mydict

{}

In [291]:
mydict = {} # empty dictionary
mydict

{}

In [292]:
mydict = {1:'one', 2:'two', 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [293]:
mydict = dict({1:'one', 2:'two', 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [294]:
mydict = {'A':'one', 'B':'two', 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [295]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [296]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [297]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [298]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [299]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with mixed keys
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [300]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat' , 'hat')} # dictionary with mixed keys
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [301]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'a': None, 'b': None, 'c': None, 'd': None}

In [302]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': 10, 'b': 10, 'c': 10, 'd': 10}

In [303]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys with value list
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [304]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

### Accessing Items

In [305]:
mydict = {1:'one', 2:'two', 3:'three', 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [306]:
mydict[1] # Access item using key

'one'

In [307]:
mydict.get(1) # Access item using get() method

'one'

In [308]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'DOB': 1991, 'ID': 74123, 'Name': 'Asif', 'job': 'Analyst'}

In [309]:
mydict1['Name'] # Access item using key

'Asif'

In [310]:
mydict1.get('job') # Access item using get() method

'Analyst'

### Add, Remove & Change Items

In [311]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Address': 'Hilsinki', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [312]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Address': 'Delhi', 'DOB': 1992, 'ID': 12345, 'Name': 'Asif'}

In [313]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Address': 'Delhi', 'DOB': 1995, 'ID': 12345, 'Name': 'Asif'}

In [314]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Address': 'Delhi',
 'DOB': 1995,
 'ID': 12345,
 'Job': 'Analyst',
 'Name': 'Asif'}

In [315]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Address': 'Delhi', 'DOB': 1995, 'ID': 12345, 'Name': 'Asif'}

In [316]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [317]:
mydict1

{'DOB': 1995, 'ID': 12345, 'Name': 'Asif'}

In [318]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'DOB': 1995, 'Name': 'Asif'}

In [319]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [320]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

## Copy Dictionary

In [321]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Address': 'Hilsinki', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [322]:
mydict1 = mydict # Create a new reference "mydict1"

In [323]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same as both are pointing to same dictionary

(2574887658984, 2574887658984)

In [324]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [325]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict2 is pointing to the copy of the existi

2574886281080

In [326]:
mydict['Address'] = 'Mumbai'

In [327]:
mydict

{'Address': 'Mumbai', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [328]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Address': 'Mumbai', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

In [329]:
mydict2 # Copy of list won't be impacted due to the changes made in the original dictionary

{'Address': 'Hilsinki', 'DOB': 1991, 'ID': 12345, 'Name': 'Asif'}

### Loop through a Dictionary

In [330]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'}
mydict1

{'Address': 'Hilsinki',
 'DOB': 1991,
 'ID': 12345,
 'Job': 'Analyst',
 'Name': 'Asif'}

In [331]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [332]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki
Analyst

### Dictionary Membership

In [333]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'DOB': 1991, 'ID': 12345, 'Job': 'Analyst', 'Name': 'Asif'}

In [334]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [335]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [336]:
'ID' in mydict1

True

In [337]:
'Address' in mydict1

False

### All / Any

The all() method returns:

True - If all all keys of the dictionary are true

False - If any key of the dictionary is false

The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [338]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'DOB': 1991, 'ID': 12345, 'Job': 'Analyst', 'Name': 'Asif'}

In [339]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [340]:
any(mydict1) # Will Return True as we have items in the dictionary with True value

True

In [341]:
mydict1[0] = 'test1'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst', 0: 'test1'}

In [342]:
all(mydict1) # Returns false as one value is false

False

In [343]:
any(mydict1) # Will Return True as we have items in the dictionary with True value

True

### Digital Comprehension

In [344]:
double = {i:i*2 for i in range(10)} #double each value using dict comprehension
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [345]:
square = {i:i**2 for i in range(10)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [346]:
keys = ['one', 'two', 'three', 'four', 'five']
values = [1, 2, 3, 4, 5]

mydict = {k:v for k,v in zip(keys,values)}
mydict

{'five': 5, 'four': 4, 'one': 1, 'three': 3, 'two': 2}

In [347]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}
mydict1 = {k:v/10 for (k,v) in mydict1.items()} # Divide all values in a dictionary by 10
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [348]:
str1 = "Natural Language Processing"
mydict2 = {k:v for (k,v) in enumerate(str1)} # Store enumerated values in a dictionary
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [349]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = {i:i.upper() for i in str1} # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

### Word frequency using dictionary

In [350]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven"

In [351]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven']

In [352]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list (mylist1)
mylist1

['nine',
 'three',
 'four',
 'eleven',
 'ten',
 'eight',
 'seven',
 'one',
 'two',
 'five',
 'six']

In [353]:
# Calculate frequenct of each word
count1 = [0] * len(mylist1)
mydict5 = dict()
for i in range(len(mylist1)):
        for j in range(len(mylist)):
            if mylist1[i] == mylist[j]:
                count1[i] += 1
        mydict5[mylist1[i]] = count1[i]
print(mydict5)

{'nine': 1, 'three': 2, 'four': 1, 'eleven': 1, 'ten': 2, 'eight': 1, 'seven': 2, 'one': 5, 'two': 3, 'five': 2, 'six': 2}