## program to interchange first and last elements in a list

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [1]:
##Approach 1: Get length of list and swap 0th element with length-1 element

def swapFirstLastElement(lst):
    n = len(lst)
    
    #swapping
    tmp = lst[0]
    lst[0] = lst[n-1]
    lst[n-1] = tmp
    
    return lst

newLst = [2, 4, 5, 6]

swapFirstLastElement(newLst)

[6, 4, 5, 2]

In [3]:
##Approach 2: swap elements using 0th and -1th element

def swapFirstLastElement(lst):
    lst[0], lst[-1] = lst[-1], lst[0]
    
    return lst

newLst = [2, 4, 5, 6]

swapFirstLastElement(newLst)

[6, 4, 5, 2]

In [4]:
##Approach 3: using * operand.

def swapFirstLastElement(lst):
    first, *middle, last = lst
    lst = [last, *middle, first]
    
    return lst

newLst = [2, 4, 5, 6]

swapFirstLastElement(newLst)

[6, 4, 5, 2]

## Program to swap two elements in a list

Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90]

Input : List = [1, 2, 3, 4, 5], pos1 = 2, pos2 = 5
Output : [1, 5, 3, 4, 2]

In [6]:
## Approach 1: Simple swap with comma assignment

def swapTwoElementsInList(lst, pos1, pos2):
    
    lst[pos1-1], lst[pos2-1] = lst[pos2-1], lst[pos1-1]
    
    return lst

newLst = [19, 20, 23, 25]

swapTwoElementsInList(newLst, 1, 3)

[23, 20, 19, 25]

## Swap elements in String list

In [21]:
## Approach 1: using replace and list comprehension

lst = ['fame', 'def', 'me', 'user']

print("The original List: ", lst)

swaped = [ele.replace("f", "-").replace("e", "f").replace("-", "e") for ele in lst]

print('The swaped list:', swaped)

The original List:  ['fame', 'def', 'me', 'user']
The swaped list: ['eamf', 'dfe', 'mf', 'usfr']

In [25]:
## Approach 2: join(), replace(), split()

lst = ['fame', 'def', 'me', 'user']

print("The original List: ", lst)

res = ",".join(lst)
swaped = res.replace("f", "-").replace("e", "f").replace("-", "e").split(",")

print('The swaped list:', swaped)

The original List:  ['fame', 'def', 'me', 'user']
The swaped list: ['eamf', 'dfe', 'mf', 'usfr']

## Ways to find length of list

In [27]:
## using counter for loop method

lst = [i for i in range(100)]

counter = 0
for i in lst:
    
    counter = counter + 1
    
print(f"Length of lst is {counter}")

Length of lst is 100

In [28]:
## using len function

lst = [i for i in range(100)]

length_of_list = len(lst)

print(f"Length of lst is {length_of_list}")

Length of lst is 100

In [29]:
## using length_hint

from operator import length_hint

lst = [i for i in range(100)]

length_of_list = length_hint(lst)

print(f"Length of lst is {length_of_list}")

Length of lst is 100

In [39]:
## Performance analysis of counter, len, length_hint 

from operator import length_hint
import time

lst = [i for i in range(10000000)]

start_time_counter = time.time()
counter = 0
for i in lst:
    
    counter = counter + 1
end_time_counter = str(time.time() - start_time_counter)

start_time_len = time.time()
lst_len = len(lst)
end_time_len = str(time.time() - start_time_len)

start_time_len_hint = time.time()
lst_len_hint = length_hint(lst)
end_time_len_hint = str(time.time() - start_time_len_hint)

print("Time taken using counter: ", end_time_counter)
print("Time taken using len: ", end_time_len)
print("Time taken using len_hint: ", end_time_len_hint)

Time taken using counter:  2.590947151184082
Time taken using len:  0.0
Time taken using len_hint:  0.0

## Maximum of two numbers

In [41]:
## Approach 1: using if-else 

def maximum(a, b):
    
    if a>b:
        return a
    else:
        return b

maximum(5, 6)

6

In [42]:
## Approach 2: using max() function

max(5,6)

6

In [43]:
## Approach 3: using ternary operator

a = 5
b = 6

print(a if a>b else b)

6

In [45]:
## Approach 4: using lambda function

a = 5
b = 6

maximum = lambda a,b: a if a>b else b

print(maximum(a,b))

6

## Minimum of two numbers

In [47]:
## Approach 1: using if-else

def minimum(a, b):

    if a<b:
        return a
    else:
        return b
    
minimum(5,6)

5

In [48]:
## Approach 2: usig min function

min(5,6)

5

In [49]:
## Approach 3: using ternary operator
a=5
b=6
print(a if a<b else b)

5

In [50]:
## Approach 4: using lambda function

a=5
b=6

minimum = lambda a,b: a if a<b else b

minimum(a,b)

5

## Check if element exists in list

In [52]:
## Approach 1: if -else

lst = [1,2, 3, 5]

ele = 5

if ele in lst:
    print('Exist')
else:
    print("Not Exist")

Exist

In [53]:
## Approach 2: using count
lst = [1,2, 3, 5]

ele = 5

ele_Count = lst.count(ele)

if ele_Count > 0 :
    print("Exists")
else:
    print("Not Exists")

Exists

In [55]:
## Approach 3: using any()

lst = [1,2, 3, 5]

ele = 5

result = any(i==ele for i in lst)

print(result)

True

## Different ways to clear a list

In [58]:
## Approach 1: using clear()

lst = [1, 2, 3, 5]

print("lst before clear: ", lst)

lst.clear()

print("lst after clear: ", lst)

lst before clear:  [1, 2, 3, 5]
lst after clear:  []

In [59]:
## Approach 2: using *=0

lst = [1, 2, 3, 5]

print("lst before clear: ", lst)

lst *=0

print("lst after clear: ", lst)

lst before clear:  [1, 2, 3, 5]
lst after clear:  []

In [60]:
## Approach 3: using del

lst = [1, 2, 3, 5]

print("lst before clear: ", lst)

del lst[:]

print("lst after clear: ", lst)

lst before clear:  [1, 2, 3, 5]
lst after clear:  []

## Reversing a List

In [65]:
## Approach 1: using reversed()

lst = [10, 11, 12, 13, 14, 15]
print(lst)
print(list(reversed(lst)))

[10, 11, 12, 13, 14, 15]
[15, 14, 13, 12, 11, 10]

In [66]:
## Approach 2: using insert()

lst = [10, 11, 12, 13, 14, 15]
print(lst)

l = []

for i in lst:
    l.insert(0, i)

print(l)

[10, 11, 12, 13, 14, 15]
[15, 14, 13, 12, 11, 10]

In [67]:
## Approach 3: using slicing technique

lst = [10, 11, 12, 13, 14, 15]
print(lst)

print(lst[::-1])

[10, 11, 12, 13, 14, 15]
[15, 14, 13, 12, 11, 10]

In [68]:
## Approach 4: using list comprehension

lst = [10, 11, 12, 13, 14, 15]
print(lst)

rev_lst = [lst[len(lst) - i] for i in range(1, len(lst)+1)]

print(rev_lst)

[10, 11, 12, 13, 14, 15]
[15, 14, 13, 12, 11, 10]

## Cloning or Copying a list

In [69]:
## Approach 1: slicing

lst = [10, 11, 12, 13, 14, 15]
print(lst)
newlst = lst[:]
print(newlst)

[10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15]

In [75]:
## Approach 2: using = assignment operator 

lst = [10, 11, 12, 13, 14, 15]
print(lst)
newlst = lst
print(newlst)

[10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15]

In [77]:
## Approach 3: using shallow copy

import copy 

lst = [10, 11, 12, 13, 14, 15]
print(lst)
newlst = copy.copy(lst)
print(newlst)

[10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15]

In [78]:
## Approach 4: using append

lst = [10, 11, 12, 13, 14, 15]
print(lst)
newlst = []
for i in lst: newlst.append(i)
print(newlst)

[10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15]

In [79]:
## Approach 5: using copy methon
lst = [10, 11, 12, 13, 14, 15]
print(lst)
newlst = lst.copy()
print(newlst)

[10, 11, 12, 13, 14, 15]
[10, 11, 12, 13, 14, 15]

In [80]:
## Approach 6: using deep copy

import copy

lst = [10, 11, 12, 13, 14, 15, [1,4]]
print(lst)
newlst = copy.deepcopy(lst)
print(newlst)

[10, 11, 12, 13, 14, 15, [1, 4]]
[10, 11, 12, 13, 14, 15, [1, 4]]

## Count occurrences of an element in a list

In [81]:
## Approach 1: using loop 

def countX(lst, x):
    count = 0
    for i in lst:
        if (x == i):
            count = count+1
    return count

lst = [1, 2, 3, 3, 3, 4, 4]
x = 3

countX(lst, x)

3

In [82]:
## Approach 2: using count()

lst = [1, 2, 3, 3, 3, 4, 4]
x = 3

lst.count(3)

3

In [84]:
## Approach 3: using collections Counter

from collections import Counter
lst = [1, 2, 3, 3, 3, 4, 4]
x = 3
cntr = Counter(lst)
print(cntr)
print(cntr[x])

Counter({3: 3, 4: 2, 1: 1, 2: 1})
3

In [85]:
## Approach 4: using countOf()

import operator as op
lst = [1, 2, 3, 3, 3, 4, 4]
x = 3
op.countOf(lst, x)

3

## Sum of number digits in List

In [86]:
## Approach 1: using loop + str()

lst = [23, 45, 95, 12, 41]

res=[]

for ele in lst:
    sum = 0
    for i in str(ele):
        sum += int(i)
    res.append(sum)
print(lst)
print(res)

[23, 45, 95, 12, 41]
[5, 9, 14, 3, 5]

## Multiply all numbers in the list

In [93]:
## Approach 1: using traversal

def multiplyList(lst):
    res = 1
    for i in lst:
        res *=i
    return res


list1 = [1, 2, 3]
list2 = [3, 2, 4]

print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [94]:
## Approach 2: using numpy prod()

import numpy as np

list1 = [1, 2, 3]
list2 = [3, 2, 4]

print(np.prod(list1))
print(np.prod(list2))

6
24

In [97]:
## Approach 3: using reduce function

from functools import reduce

list1 = [1, 2, 3]
list2 = [3, 2, 4]

res1 = reduce((lambda x, y: x*y), list1)
res2 = reduce((lambda x, y: x*y), list2)

print(res1)
print(res2)

6
24

## program to find second largest number in a list

In [105]:
## Approach 1: using set and sort
list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
print(list1)
list2 = list(set(list1))
print(list2)
list2.sort()
print(list2)
print(list2[-2])

[10, 20, 20, 4, 45, 45, 45, 99, 99]
[99, 4, 10, 45, 20]
[4, 10, 20, 45, 99]
45

In [106]:
## Approach 2: by removing max 

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
print(list1)
list2 = list(set(list1))
print(list2)
list2.remove(max(list2))
print(list2)
print(max(list2))

[10, 20, 20, 4, 45, 45, 45, 99, 99]
[99, 4, 10, 45, 20]
[4, 10, 45, 20]
45

## Remove empty tuples from a list

In [109]:
## Approach 1: using list comprehension

def Remove(tuples):
    tuples = [i for i in tuples if i]
    return tuples

tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('',''),()]

Remove(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [111]:
## Approach 2: using filter

tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),
          ('krishna', 'akbar', '45'), ('',''),()]

tuples = list(filter(None, tuples))
print(tuples)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

## Program to print duplicates from a list of integers

In [112]:
## Approach 1: using Brute Force method

def repeated(lst):
    n = len(lst)
    repeated = []
    
    for i in range(n):
        k = i+1
        for j in range(k, n):
            if lst[i] == lst[j] and lst[i] not in repeated:
                repeated.append(lst[i])
    return repeated

list1 = [10, 20, 30, 20, 20, 30, 40,
         50, -20, 60, 60, -20, -20]

repeated(list1)

[20, 30, -20, 60]

In [113]:
## Approach 2: using collections Counter

from collections import Counter
list1 = [10, 20, 30, 20, 20, 30, 40,
         50, -20, 60, 60, -20, -20]

cntr = Counter(list1)

repeated = [i for i in cntr if cntr[i] > 1]

print(repeated)

[20, 30, -20, 60]

In [114]:
## Approach 3: using count()

list = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]

new = []

for i in list:
    
    if list.count(i) > 1:
        if i not in new:
            new.append(i)
print(new)

[1, 2, 5, 9]

In [115]:
## Approach 4: using list - dictionary 

def duplicate(list):
    new_dict, new_list = {}, []
    
    for i in list:
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] +=1
    
    for key, value in new_dict.items():
        if value > 1:
            new_list.append(key)
    return new_list


list = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]

duplicate(list)

[1, 2, 5, 9]